[submodule "git@github.com:jonyejin/TEBench.git"]
	path = git@github.com:jonyejin/TEBench.git
	url = https://github.com/jonyejin/DOTE
[submodule "/Users/yejin/TEBench/DOTE"]
	path = /Users/yejin/TEBench/DOTE
	url = https://github.com/jonyejin/DOTE.git
[submodule "/Users/yejin/TEBench/TEAL"]
	path = /Users/yejin/TEBench/TEAL
	url = https://github.com/jonyejin/teal
